<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="DataFile" value="data.xml" />
    <add key="Address" value="16rCmCmbuWDhPjWTrpQGaU3EPdZF7MTdUk"/>
    <add key="SMTPClientAddress" value=""/>
    <add key="SMTPUserName" value=""/>
    <add key="SMTPPassword" value=""/>
    <add key="ToAddress" value=""/>
    <add key="FromAddress" value=""/>
  </appSettings>
</configuration>